body {
    background-color: #0b1026;
    color: aliceblue;
    overflow-x: hidden;
}

/* Navigation bar */
#navigation {
    display: flex;
    height: 12vh;
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: #0b1026;
    z-index: 5;
    margin-left: 3vw;
}

#logo-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
}

#logo-container div{
    padding: 7px;
}

#logo{
    margin-right: 10vw;
}

#logo a{
    text-decoration: none;
    color: aliceblue;
}

#search-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}

#search-container div{
    padding: 5px;
}

#search {
    background-color: #1c2651;
    border-radius: 20px 20px 20px 20px;
    margin-right: 5vw;
}

#search div {
    padding: 7px;
}

#search form {
    display: inline-block;
}

::placeholder {
    color: rgb(152, 152, 152);
}

input[type="text"] {
    color: lightgray;
    background-color: #1c2651;
    border: none;
}

input:focus {
    outline: none;
}

#notification{
    margin-right: 5vw;
}

i {
    color: aliceblue;
}

/* Container */
.heading {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2%;
}

#container{
    display: flex;
    width: 100vw;
    height: auto;
    margin: 15vh;
}

/* Main */
main {
    width: 60vw;
    display: flex;
    flex-direction: column;
    height: 40vh;
}

#intro{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #131b40;
}

#intro-image img{
    height: 100%;
}

#info{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

#info p{
    margin-top: -1%;
    font-family: sans-serif;
}

.heading-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.gradient{
    background-image: linear-gradient(#2c1f9b,#c248df);
    font-family: sans-serif;
    outline: none;
    padding: 5px 20px;
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
}

.follow{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 0.8rem;
}

/* Playlist */
.playlist{
    width: 100%;
    height: 10vh;
    background-color: #191e32;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5vh;
}

.song-details{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
}

.song-details div{
    padding: 5px;
}

.song-details div img{
    width: 5vw;
    height: 8vh;
}

.song-like{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4vw;
}

.song-like i{
    padding: 10px;
}

/* Aside */
#aside{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: auto;
}

#similar-artist{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: 3vw;
    margin-bottom: 2vh;
}

#recently-played{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: 3vw;
    margin-top: 20px;
}

.aside-heading{
    display: flex;
    width: 100%;
    align-items: center;
}

.heading1{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: sans-serif;
}

.viewall{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    font-size: 0.7rem;
    font-family: sans-serif;
}

.viewall a{
    text-decoration: none;
    color: lightgray;
}

#queue-songs {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
    overflow-y: scroll;
    margin-top: 5%;
}

#queue-card {
    display: flex;
    max-height: 10vh;
    width: 100%;
    margin-bottom: 10%;
    align-items: center;
}

#left{
    display: flex;
    width: 40%;
    justify-content: flex-start;
    align-items: center;
}

#left span{
    padding-left: 3px;
}

#right{
    display: flex;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
}

.queue-card-image {
    width: 40px;
    height: 40px;
}

.queue-num {
    font-family: sans-serif;
    font-size: 0.6rem;
    color: lightgrey;
}

.queue-song-name {
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
}

#latest-music {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}

.latest-music-card {
    width: 50%;
    height: 10%;
}

.song-image {
    display: inline-block;
}

.song-image img {
    width: 70px;
    height: 70px;
}

.song-name {
    font-family: sans-serif;
    display: inline-block;
    position: relative;
    bottom: 20px;
    padding: 4px;
    font-weight: 700;
    z-index: 1;
}

.song-name p {
    padding: 0;
    margin: 0;
    font-size: 0.6rem;
    color: lightgrey;
}

.song-action {
    display: inline-block;
    position: relative;
    left: 20%;
    bottom: 30px;
    padding: 4px;
    z-index: 1;
}

.song-action p {
    padding: 0;
    margin: 0;
    font-size: 0.7rem;
    color: lightgrey;
}